# Prerequisites
*.d

# Ignored Files
*.png
*.dat

# Tex Files
*.aux
*.bbf
*.bbl
*.lof
*.log
*.toc
*.dvi
*.blg
*.bcf
Unused/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
